<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://snrecieverwebhook77.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c33ff06a-d6ca-4279-80f8-d9a0b931c662/resourcegroups/SN-ServiceBusRG/providers/Microsoft.Web/sites/SNRecieverWebHook77</ResourceId>
    <UserName>$SNRecieverWebHook77</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://snrecieverwebhook77.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>